<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="conatiner">
        <div class="row">
            <div class="col-4">
                <app-login-card [dataOnLoginCard]="adminData"></app-login-card>
            </div>
            <div class="col-4">
                <app-login-card [dataOnLoginCard]="loanApplicantData"></app-login-card>
            </div>
            <div class="col-4">
                <app-login-card [dataOnLoginCard]="creditAnalystData"></app-login-card>
            </div>
        </div>
    </div>
</div>